.list{
    height: auto;
    width: 100vw;
    color: #ffd2fa;
    /* justify-content: center; */
    align-items: flex-start;
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.list h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.anime-grid {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.anime-emerge{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.anime-card {
    background: #ffd2fa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    max-width: 200px;
    position: relative;
    white-space: nowrap;
    
}

.anime-card:hover {
    transform: translateY(-5px);
}

.anime-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.anime-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 0;
}

.star{
    position: absolute;
    z-index: 30;
    cursor: pointer;
}

.anime-info h3 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #333;
}

.anime-info p {
    margin: 5px 0;
    color: #666;
    font-size: 0.9em;
}

.loading-container,
.error-container,
.empty-container {
    text-align: center;
    /* padding: 50px; */
    font-size: 1.2em;
    color: #666;
}

.load-more{
    background: #ffd2fa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    max-width: 200px;
    position: relative;
}