
.mini-nav{
    position: fixed;
    bottom:0;
    width: 80vw;
    height: auto;
    display: flex;
    background-color: #ffd2fa;
    padding: 20px;
    margin:40px 10vw;
    font-size: 25px;
    justify-content: space-between;
    border-radius: 30px;
    padding: 15px 30px;
    /* font-size: 18px; */
    cursor: pointer;
    }
    
    a {
        color: #111;
        text-decoration: none;
    }

.mini-nav li:hover{
    color: black;
}

.nav{
    position: fixed;
    top:0;
    width: 100vw;
    background-color: #ffd2fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    z-index: 5;
}

.name-email p{
    font-family: cursive;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    color: grey;
}

.email{
    font-size: 50%;
}

.title span{
    font-family: "Kanit", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
}

.profile-btn{
    display: flex;
    align-items: center;
    font-size: 30px;
}


.profile-btn span{
    font-size: 50px;
}